In [1]:
from zbta.api.api import APIConnector

with open("../data/fiserv/415060515_AllData_single_file_nopii.json", "r", encoding="utf8") as hh:
    payl = hh.read()
con = APIConnector(payload=payl)
con.process_payload()

[INFO] [2023-01-03 05:40:02,058] [__init__] APIConnector instance created
[DEBUG] [2023-01-03 05:40:02,059] [_validate_payload] validating payload...
[INFO] [2023-01-03 05:40:02,068] [process_payload] processing payload...

HERE

In [2]:
con.btanalyzer.dfs.filter(like="is_").sum(axis=0)

is_payday        18
is_salary         0
is_fee           14
is_cash          59
is_obligation     3
is_benefit       11
is_weekend        0
dtype: int64

In [3]:
df = con.btanalyzer.dfs

In [5]:
df[df['is_payday']][['date', 'is_payday', 'amount', 'description', 'clean_description']]

,date,is_payday,amount,description,clean_description
32,2020-04-01,True,-300.00,CHECK N GO 8007691058200331 202003312031380 Do...,check n go dorothy hummel
59,2020-04-09,True,255.00,CHECK N GO 8007691058200408 202004082030150 Do...,check n go dorothy hummel
114,2020-05-01,True,-300.00,CHECK N GO 8007691058200430 202004302031250 Do...,check n go dorothy hummel
144,2020-05-08,True,255.00,CHECK N GO 8007691058200507 202005072030210 Do...,check n go dorothy hummel
211,2020-06-01,True,-300.00,CHECK N GO 8007691058200529 202005292031240 Do...,check n go dorothy hummel
369,2020-08-17,True,255.00,CHECK N GO 8007691058200814 202008142030210 Do...,check n go dorothy hummel
424,2020-09-01,True,-300.00,CHECK N GO 8007691058200831 202008312032570 Do...,check n go dorothy hummel
443,2020-09-08,True,255.00,CHECK N GO 8007691058200904 202009042030240 Do...,check n go dorothy hummel
507,2020-10-01,True,-300.00,CHECK N GO 8007691058200930 202009302031520 Do...,check n go dorothy hummel
544,2020-10-14,True,255.00,CHECK N GO 8007691058201013 202010132030310 Do...,check n go dorothy hummel
598,2020-11-02,True,-300.00,CHECK N GO 8007691058201030 202010302031580 Do...,check n go dorothy hummel
624,2020-11-10,True,255.00,CHECK N GO 8007691058201109 202011092030240 Do...,check n go dorothy hummel
687,2020-12-01,True,-300.00,CHECK N GO 8007691058201130 202011302034010 Do...,check n go dorothy hummel
715,2020-12-08,True,255.00,CHECK N GO 8007691058201207 202012072030310 Do...,check n go dorothy hummel
770,2020-12-31,True,-300.00,CHECK N GO 8007691058201230 202012302031550 Do...,check n go dorothy hummel
940,2021-02-16,True,100.00,FROM Dave IncMONEY TRANSFER 02/15 CA CARD 7134,from dave incmoney transfer ca card
952,2021-02-17,True,-50.00,"Dave, Inc DEBIT602cf929f2286d41f521a4ce/ df99e...",dave inc debitcffdface dfebbfccc
953,2021-02-17,True,-54.99,"Dave, Inc DEBIT602cfe46d1087d34a07a9651/ 1be51...",dave inc debitcfeddaa beefe

In [6]:
df

,id,TrnType,date,description,CreatedOnDt,category,SubCategory,CheckNumber,amount,status,...,is_payday,is_salary,is_fee,is_cash,is_obligation,is_benefit,is_weekend,month,week,day
0,4839146648,Debit,2020-03-23,STATERBRO 21602 BEAR VPURCHASE 03/20 APPLE VAL...,2021-02-24T13:42:37-05:00,Uncategorized,Uncategorized,NaN,-18.76,posted,...,False,False,False,False,False,False,False,3,13,83
1,4839146649,Debit,2020-03-23,STATERBRO 21602 BEAR VPURCHASE 03/21 APPLE VAL...,2021-02-24T13:42:37-05:00,Uncategorized,Uncategorized,NaN,-11.06,posted,...,False,False,False,False,False,False,False,3,13,83
2,4839146650,Debit,2020-03-23,TO XXXXXXXXXXX0171SAVE AS YOU GO TRANSFER DEBIT,2021-02-24T13:42:37-05:00,NA,NA,NaN,-2.00,posted,...,False,False,False,False,False,False,False,3,13,83
3,4839146651,Credit,2020-03-25,SSA TREAS 310 XXSOC SEC032520 XXXXX8619A SSA C...,2021-02-24T13:42:37-05:00,NA,NA,NaN,347.00,posted,...,False,False,False,False,False,False,False,3,13,85
4,4839146652,Debit,2020-03-25,ATM WITHDRAWAL03/25 20310 HWY 18 Apple Valley ...,2021-02-24T13:42:37-05:00,NA,NA,NaN,-80.00,posted,...,False,False,False,True,False,False,False,3,13,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,4839147606,Debit,2021-02-19,NSF RETURN ITEM FEE FOR A TRANSACTION RECEIVED...,2021-02-24T13:42:38-05:00,NA,NA,NaN,-35.00,posted,...,False,False,True,False,False,False,False,2,7,50
959,4839147607,Credit,2021-02-19,ONLINE TRANSFER FROM HUMMEL DWAY2SAVE SAVINGS ...,2021-02-24T13:42:38-05:00,NA,NA,NaN,7.20,posted,...,False,False,False,False,False,False,False,2,7,50
960,4839147608,Debit,2021-02-19,ONLINE TRANSFER REF #IB09VGMFSTTO PLATINUM CAR...,2021-02-24T13:42:38-05:00,Uncategorized,Uncategorized,NaN,-7.20,posted,...,False,False,False,False,False,False,False,2,7,50
961,4839147609,Debit,2021-02-22,OVERDRAFT FEE FOR A TRANSACTIONPOSTED ON 02/19...,2021-02-24T13:42:38-05:00,NA,NA,NaN,-35.00,posted,...,False,False,True,False,False,False,False,2,8,53
962,4839147610,Credit,2021-02-22,ONLINE TRANSFER REF #IB09W3SPNYFROM PLATINUM C...,2021-02-24T13:42:38-05:00,Uncategorized,Uncategorized,NaN,15.00,posted,...,False,False,False,False,False,False,False,2,8,53