In [7]:
from zbta.api.api import APIConnector

with open("../data/fiserv/415060515_AllData_single_file_nopii.json", "r", encoding="utf8") as hh:
    payl = hh.read()
con = APIConnector(payload=payl)
con.process_payload()

[INFO] [2023-01-05 02:40:48,098] [__init__] APIConnector instance created
INFO:zbta.api.api:APIConnector instance created
[DEBUG] [2023-01-05 02:40:48,099] [_validate_payload] validating payload...
DEBUG:zbta.api.api:validating payload...
[INFO] [2023-01-05 02:40:48,108] [process_payload] processing payload...
INFO:zbta.api.api:processing payload...

HERE

In [8]:
con.btanalyzer.dfs.filter(like="is_").sum(axis=0)

is_salary            0
is_fee              14
is_cash             59
is_obligation        3
is_payday           18
is_benefit          11
is_consumer_loan     0
is_weekend           0
dtype: int64

In [9]:
df = con.btanalyzer.dfs

In [10]:
df[df['is_payday']][['date', 'is_payday', 'is_consumer_loan', 'amount', 'clean_description']]

,date,is_payday,is_consumer_loan,amount,clean_description
32,2020-04-01,True,False,-300.00,check n go dorothy hummel
59,2020-04-09,True,False,255.00,check n go dorothy hummel
114,2020-05-01,True,False,-300.00,check n go dorothy hummel
144,2020-05-08,True,False,255.00,check n go dorothy hummel
211,2020-06-01,True,False,-300.00,check n go dorothy hummel
369,2020-08-17,True,False,255.00,check n go dorothy hummel
424,2020-09-01,True,False,-300.00,check n go dorothy hummel
443,2020-09-08,True,False,255.00,check n go dorothy hummel
507,2020-10-01,True,False,-300.00,check n go dorothy hummel
544,2020-10-14,True,False,255.00,check n go dorothy hummel
598,2020-11-02,True,False,-300.00,check n go dorothy hummel
624,2020-11-10,True,False,255.00,check n go dorothy hummel
687,2020-12-01,True,False,-300.00,check n go dorothy hummel
715,2020-12-08,True,False,255.00,check n go dorothy hummel
770,2020-12-31,True,False,-300.00,check n go dorothy hummel
940,2021-02-16,True,False,100.00,from dave incmoney transfer ca card
952,2021-02-17,True,False,-50.00,dave inc debitcffdface dfebbfccc
953,2021-02-17,True,False,-54.99,dave inc debitcfeddaa beefe